{% extends "base.html" %}

{% block content %}

<div class="stock-level">STOCK LEVEL: <br>
    <div id ="stock-indicator">
        <span style="color:green">Enough Stock</span><br>
        <span style="color:orange">Low Stock</span><br>
    </div>
    {% if counter[0] >= 5 %}
    <p><span style="color:green">Light Armor: {{ counter[0] }}</p></span>
    {% elif counter[0] < 5 and counter[0] > 0  %}
    <p><span style="color:orange">Light Armor: {{ counter[0] }}</p></span>
    {% else %}
    <p><span style="color:grey">Light Armor: Out Of Stock</p>
    {% endif %}
    
    {% if counter[1] >= 5%}
    <p><span style="color:green">Medium Armor: {{ counter[1] }}</p>
    {% elif counter[1] < 5 and counter[1] > 0  %}
    <p><span style="color:orange">Medium Armor {{ counter[1] }}</p>
    {% else %}
    <p><span style="color:grey">Medium Armor: Out Of Stock</p>
    {% endif %}

    {% if counter[2] >= 5 %}
    <p><span style="color:green">Heavy Armor: {{ counter[2] }}</p>
    {% elif counter[2] < 5 and counter[1] > 0  %}
    <p><span style="color:orange">Heavy Armor {{ counter[2] }}</p>
    {% else %}
    <p><span style="color:grey">Heavy Armor: Out Of Stock</p>
    {% endif %}
    
</div>
{% for armor in armors %}
<section>
     <div class="each_product">
        
      {% if armor.name == "Light Armor" %}
        <img src="{{url_for('static', filename='/images/light_armor_pic.png')}}" align="content" class="product_picture"/>
            
            {% elif armor.name == "Medium Armor" %}
            <img src="{{url_for('static', filename='/images/medium_armor_pic.png')}}" align="content" class="product_picture"/>

            {% elif armor.name == "Heavy Armor" %}
            <img src="{{url_for('static', filename='/images/heavy_armor_pic.png')}}" align="content" class="product_picture"/>
        {% endif %}
        <div><a href="/products/{{armor.id}}">{{ armor.name }}</a></div>
        <div>Purchase Cost: {{ armor.cost }}</div>
        <div>Selling Price: {{ armor.price }}</div>
        <div>Category: {{ armor.product_type.name }}</div><br>
        
        <form action="/products/{{ armor.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>

        
     </div>


</section>
{% endfor %}
{% endblock %}