{% extends "base.html" %}

{% block content %}

<div class="stock-level">STOCK LEVEL: <br>
    Light Armor Set: {{ counter[0] }}<br>
    Medium Armor Set: {{ counter[1] }}<br>
    Heavy Armor Set: {{ counter[2] }}<br>
    </div>
{% for armor in armors %}

<section>
     <div class="each_product">
        
      {% if armor.name == "Light Armor" %}
        <img src="{{url_for('static', filename='/images/light_armor_pic.png')}}" align="content" class="product_picture"/>
            
            {% elif armor.name == "Medium Armor" %}
            <img src="{{url_for('static', filename='/images/medium_armor_pic.png')}}" align="content" class="product_picture"/>

            {% elif armor.name == "Heavy Armor" %}
            <img src="{{url_for('static', filename='/images/heavy_armor_pic.png')}}" align="content" class="product_picture"/>
        {% endif %}
        <div><a href="/products/{{armor.id}}">{{ armor.name }}</a></div>
        <div>Purchase Cost: {{ armor.cost }}</div>
        <div>Selling Price: {{ armor.price }}</div>
        <div>Category: {{ armor.product_type.name }}</div><br>
        
        <form action="/products/{{ armor.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>

        
     </div>


</section>
{% endfor %}
{% endblock %}