{% extends "base.html" %}

{% block content %}

<h2>List of Products</h2>

{% for product in products %}

<section>
    <div class="each_product">
        {% if product.product_type.name == "Weapons" %}
        <img src="{{url_for('static', filename='images/weapon_picture.jpeg')}}" align="content" id="picture"/>
        
        {% elif product.product_type.name == "Potions" %}
        <img src="{{url_for('static', filename='images/potion_pic.jpeg')}}" align="content" id="picture"/>
        
        {% elif product.product_type.name == "Armor" %}
        <img src="{{url_for('static', filename='images/armor_pic.png')}}" align="content" id="picture"/>

        {% endif %}

        <div><a href="/products/{{product.id}}" >Product Name: {{ product.name }}</a></div>
        <!-- <div>Description: {{ product.description }}</div> -->
        <div>Purchase Cost: {{ product.cost }}</div>
        <div>Selling Price: {{ product.price }}</div>
        <div>Categorie: {{ product.product_type.name }}</div><br>
        <form action="/products/{{ product.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        <br>
    </div>
</section>
{% endfor %}

{% endblock %}