{% extends "base.html" %}

{% block content %}

<div id="myBtnContainer" align="right">
    <button class="btn active" onclick="filterSelection('all')">Show all</button>
    <button class="btn" onclick="filterSelection('Weapons')">Weapons</button>
    <button class="btn" onclick="filterSelection('Potions')">Potions</button>
    <button class="btn" onclick="filterSelection('Armor')"> Armor</button>
  </div>
    
<h2>List of Products</h2>
Weapon Quantity: {{ weapon_counter }} <br>
Potion Quantity: {{ potion_counter }} <br>
Armor Quantity: {{ armor_counter }} <br>
{% for product in products %}

<section>
    <div class="each_product">
        {% if product.product_type.name == "Weapons" %}
        <img src="{{url_for('static', filename='images/weapon_picture.jpeg')}}" align="content" id="picture_all"/>
        
        {% elif product.product_type.name == "Potions" %}
        <img src="{{url_for('static', filename='images/potion_pic.jpeg')}}" align="content" id="picture_all"/>
        
        {% elif product.product_type.name == "Armor" %}
        <img src="{{url_for('static', filename='images/armor_pic.png')}}" align="content" id="picture_all"/>

        {% endif %}

        <div><a href="/products/{{product.id}}" >Product Name: {{ product.name }}</a></div>
        <div>Purchase Cost: {{ product.cost }}</div>
        <div>Selling Price: {{ product.price }}</div>
        <div>Categorie: {{ product.product_type.name }}</div><br>
        <form action="/products/{{ product.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        <br>
    </div>
</section>
{% endfor %}

{% endblock %}