{% extends "base.html" %}

{% block content %}

<h2>List of Products</h2>

{% for product in products %}

<section>
    <div class="each_product">
        <div><a href="/products/{{product.id}}/show" >Product Name: {{ product.name }}</a></div>
        <div>Description: {{ product.description }}</div>
        <div>Purchase Cost: {{ product.cost }}</div>
        <div>Selling Price: {{ product.price }}</div>
        <div>Categorie: {{ product.product_type.name }}</div><br>
        <form action="/products/{{ product.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        <br>
    </div>
</section>
{% endfor %}

{% endblock %}