{% extends "base.html" %}
{% block content %}
<h2>Add New Product</h2>
<form action="/products" method="POST" id="new_product">
    <div>
        <label for="name">Product Name: </label>
        <input type="text" id="product_name" name="name"><br>
        <label for="description">Description: </label><br>
        <textarea id="description" name="description" rows="3" cols="30"></textarea><br>
        <label for="cost">Purchase Cost: </label>
        <input type="text" id="cost" name="cost"><br>
        <label for="price">Selling Price: </label>
        <input type="text" id="price" name="price"><br>
        <label for="product-type">Category:  </label>
        <select name="type_id" id="product-type">
            {% for type in product_types %}
            <option value="{{ type.id }}">
                {{ type.name}}
            </option>
            {% endfor %}
        <!-- <label for="product-type">Category: </label>
        <input type="text" id="product-type" name="product-type"><br> -->
        <input type="submit">
    </div>
</form>

{% endblock %}