{% extends "base.html" %}

{% block content %}
<div class="option-filter">
    <a href="/products"><input type=button value='Show All'></a>
    <a href="/products/weapons"><input type=button value='Weapons'></a>
    <a href="/products/potions"><input type=button value='Potions'></a>
    <a href="/products/armors"><input type=button value='Armors'></a>
</div>
<div class="stock-level">STOCK LEVEL: <br>
    <div id ="stock-indicator">
        <span style="color:green">Enough Stock</span><br>
        <span style="color:red">Low Stock</span><br>
    </div>
    {% if counter[0] >= 5%}
    <p><span style="color:green">Health Potion: {{ counter[0] }}</p>
    {% elif counter[0] < 5 and counter[0] > 0  %}
    <p><span style="color:red">Health Potion: {{ counter[0] }}</p>
    {% else %}
    <p><span style="color:grey">Health Potion: Out Of Stock</p>
    {% endif %}
    
    {% if counter[1] >= 5%}
    <p><span style="color:green">Mana Potions: {{ counter[1] }}</p>
    {% elif counter[1] < 5 and counter[1] > 0  %}
    <p><span style="color:red">Mana Potions: {{ counter[1] }}</p>
    {% else %}
    <p><span style="color:grey">Mana Potions: Out Of Stock</p>
    {% endif %}

    {% if counter[2] >= 5 %}
    <p><span style="color:green">Strength Potions: {{ counter[2] }}</p>
    {% elif counter[2] < 5 and counter[2] > 0  %}
    <p><span style="color:red">Health Potion: {{ counter[2] }}</p>
    {% else %}
    <p><span style="color:grey">Health Potion: Out Of Stock</p>
    {% endif %}
    
</div>

{% for potion in potions %}
<section>
    <div class="each_product">
            {% if potion.name == "Health Potion" %}
            <img src="{{url_for('static', filename='/images/health_potion_pic.png')}}" align="content" class="product_picture"/>
            
            {% elif potion.name == "Mana Potion" %}
            <img src="{{url_for('static', filename='/images/mana_potion_pic.png')}}" align="content" class="product_picture"/>

            {% elif potion.name == "Strength Potion" %}
            <img src="{{url_for('static', filename='/images/strength_potion_pic.png')}}" align="content" class="product_picture"/>
        {% endif %}
        <div><a href="/products/{{potion.id}}">{{ potion.name }}</a></div>
        <div>Purchase Cost: {{ potion.cost }}</div>
        <div>Selling Price: {{ potion.price }}</div>
        <div>Category: {{ potion.product_type.name }}</div><br>
        {% set markup = (((potion.price - potion.cost)/ potion.cost) * 100)| int %}
        <div>Markup: {{markup}}% </div>


        <form action="/products/{{ potion.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        
     </div>
     
</section>
{% endfor %}

{% endblock %}