{% extends "base.html" %}

{% block content %}
<div class="stock-level">STOCK LEVEL: <br>
    Health Potions: {{ counter[0] }}<br>
    Mana Potions: {{ counter[1] }}<br>
    Strength Potions: {{ counter[2] }}<br>
</div>
{% for potion in potions %}
<section>
    <div class="each_product">
            {% if potion.name == "Health Potion" %}
            <img src="{{url_for('static', filename='/images/health_potion_pic.png')}}" align="content" class="product_picture"/>
            
            {% elif potion.name == "Mana Potion" %}
            <img src="{{url_for('static', filename='/images/mana_potion_pic.png')}}" align="content" class="product_picture"/>

            {% elif potion.name == "Strength Potion" %}
            <img src="{{url_for('static', filename='/images/strength_potion_pic.png')}}" align="content" class="product_picture"/>
        {% endif %}
        <div><a href="/products/{{potion.id}}">{{ potion.name }}</a></div>
        <div>Purchase Cost: {{ potion.cost }}</div>
        <div>Selling Price: {{ potion.price }}</div>
        <div>Category: {{ potion.product_type.name }}</div><br>
        <form action="/products/{{ potion.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        
     </div>
     
</section>
{% endfor %}

{% endblock %}