{% extends "base.html" %}
{% block content %}

<h2>
    Product
</h2>
<section>
    <div class = "single-product">
        <div class="single-product-items">
            {{ product.name }}<br>
            {{ product.product_type.name }}
            <br>
            
            {{ product.cost }}<br>
            {{ product.price }}<br>
            {{ product.description }}        
        </div>
        <div>
            <!-- {% for item in product %} -->
        </div>
    </div>
    
</section>



{% endblock %}