{% extends "base.html" %}

{% block content %}
 <!-- Swords: {{ counter[0] }}<br>
    Axes: {{ counter[1] }}<br>
    Spears: {{ counter[2] }}<br>
    Shields: {{ counter[3] }}<br> -->
    <div class="stock-level">STOCK LEVEL: <br>
        <div id ="stock-indicator">
            <span style="color:green">Enough Stock</span><br>
            <span style="color:red">Low Stock</span><br>
        </div>
        {% if counter[0] >= 10 %}
        <p><span style="color:green">Swords: {{ counter[0] }}</p></span>
        {% elif counter[0] < 10 and counter[0] > 0  %}
        <p><span style="color:red">Swords: {{ counter[0] }}</p></span>
        {% else %}
        <p><span style="color:grey">Swords: Out Of Stock</p>
        {% endif %}
        
        {% if counter[1] >= 10%}
        <p><span style="color:green">Axes: {{ counter[1] }}</p>
        {% elif counter[1] < 10 and counter[1] > 0  %}
        <p><span style="color:red">Axes: {{ counter[1] }}</p>
        {% else %}
        <p><span style="color:grey">Axes: Out Of Stock</p>
        {% endif %}
    
        {% if counter[2] >= 10 %}
        <p><span style="color:green">Spears: {{ counter[2] }}</p>
        {% elif counter[2] < 10 and counter[2] > 0  %}
        <p><span style="color:red">Spears: {{ counter[2] }}</p>
        {% else %}
        <p><span style="color:grey">Spears: Out Of Stock</p>
        {% endif %}

        {% if counter[3] >= 10 %}
        <p><span style="color:green">Shields: {{ counter[3] }}</p>
        {% elif counter[3] < 10 and counter[3] > 0  %}
        <p><span style="color:red">Shields: {{ counter[3] }}</p>
        {% else %}
        <p><span style="color:grey">Shields: Out Of Stock</p>
        {% endif %}
    </div>
    <div class="option-filter">
        <a href="/products"><input type=button value='Show All'></a>
        <a href="/products/weapons"><input type=button value='Weapons'></a>
        <a href="/products/potions"><input type=button value='Potions'></a>
        <a href="/products/armors"><input type=button value='Armors'></a>
      </div>

{% for weapon in weapons %}

<section>
    <div class="each_product">
        {% if weapon.name == "Bronze Sword" %}
            <img src="{{url_for('static', filename='/images/bronze_sword_pic.webp')}}" align="content" class="product_picture"/>
            
            {% elif weapon.name == "Silver Sword" %}
            <img src="{{url_for('static', filename='/images/silver_sword_pic.jpeg')}}" align="content" class="product_picture"/>
            
            {% elif weapon.name == "Gold Sword" %}
            <img src="{{url_for('static', filename='/images/gold_sword_pic.jpeg')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Bronze Axe" %}
            <img src="{{url_for('static', filename='/images/Bronze_axe_pic.webp')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Silver Axe" %}
            <img src="{{url_for('static', filename='/images/silver_axe_pic.webp')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Gold Axe" %}
            <img src="{{url_for('static', filename='/images/gold_axe_pic.webp')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Bronze Spear" %}
            <img src="{{url_for('static', filename='/images/bronze_spear_pic.webp')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Silver Spear" %}
            <img src="{{url_for('static', filename='/images/silver_spear_pic.webp')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Gold Spear" %}
            <img src="{{url_for('static', filename='/images/gold_spear_pic.png')}}" align="content" class="product_picture"/>

            {% elif weapon.name == "Shield" %}
            <img src="{{url_for('static', filename='/images/shield_pic.jpeg')}}" align="content" class="product_picture"/>

        {% endif %}
        <div><a href="/products/{{weapon.id}}">{{ weapon.name }}</a></div>
        <div>Purchase Cost: {{ weapon.cost }}</div>
        <div>Selling Price: {{ weapon.price }}</div>
        <div>Category: {{ weapon.product_type.name }}</div><br>
        {% set markup = (((weapon.price - weapon.cost)/ weapon.cost) * 100)| int %}
        <div>Markup: {{markup}}% </div>
        
        <form action="/products/{{ weapon.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>    
    
    </div>
    
</section>
{% endfor %}


{% endblock %}