h1 {
    display: flex;
    justify-content: center;
}

nav > ul{
    display: flex;
    justify-content: flex-start;
    outline: red solid 2px;
    gap: 1rem;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
}

.each_product {
    outline: 2px solid blue;
    margin: 1rem;
    flex-direction: column;
    text-align: center;
    
}

#new_product {
    outline: 2px solid green;
    text-align: center;
}
#picture_all {
    height: 9rem;
}

.single-product {
    text-align: center;
    outline: 0.5rem solid black;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 2rem;
    margin-top: 3rem;
}

.product_picture {
    height: 250px;
    width: 250px;
}